html {
  font-size: 62.5;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.background {
  margin: 0;
  height: 100vh;
  background-image: url("../../assets/medusa/fundoMeio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid transparent;
  position: relative;
}

.medusaText {
  /* border: 1px solid red; */
  width: 50%;
  position: absolute;
  top: 40%;
  left: 26%;
  -moz-animation: cssAnimation 0s ease-in 1s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 1s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 1s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  p {
    /* border: 1px solid white; */
    color: rgb(242, 242, 207);
    font-family: "Times New Roman", serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
  }
}

.rollText {
  /* border: 1px solid red; */
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 5%;
  white-space: nowrap;
  overflow: hidden;
  background-color: red;
  height: 30px;
  display: flex;
  align-items: center;
  visibility: hidden;
}

.caption {
  /* border: 3px solid green; */
  /* display: block; */
  font-family: "Times New Roman", serif;
  font-size: 18px;
  color: rgb(242, 242, 207);
  text-decoration: none;
  visibility: hidden;
  font-weight: 500;
  padding-left: 50%;
  margin: 0;
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.work {
  width: 140px;
  height: auto;
  /* border: 1px solid yellow; */
  position: absolute;
  top: 50%;
  left: 30%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  p {
    color: rgb(242, 242, 207);
    opacity: 0;
    font-family: "Times New Roman", serif;
    font-weight: 200;
    font-size: 1rem;
    font-style: italic;
  }
  p:hover {
    opacity: 1;
  }
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(242, 242, 207);
  position: absolute;
  box-shadow: -3px -1px 67px 26px rgba(242, 242, 207, 0.87);
  -webkit-box-shadow: -3px -1px 67px 26px rgba(242, 242, 207, 0.87);
  -moz-box-shadow: -3px -1px 67px 26px rgba(242, 242, 207, 0.87);
  /* top: 50%; */
  /* left: 5%; */
}

.container {
  max-width: 80vw;
  height: 80vh;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.container p {
  color: #d2222d;
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: right;
  margin-right: -20px;
}

.text {
  width: 45%;
  /* border: 1px solid yellow; */
}

.fadingText {
  -moz-animation: cssAnimation 0s ease-in 1s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 1s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 1s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 1s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.fadingImage {
  height: 100%;
  width: 500px;
  border: 4px solid transparent;
  mask: radial-gradient(#000 0 0), radial-gradient(#0000, #000 99%) padding-box;
  mask-composite: exclude;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.bear {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* transition: opacity 0.1s ease-in-out; */
}

.bear.original {
  opacity: 1;
  z-index: 1;
}

.bear.hover {
  opacity: 0;
  z-index: 2;
}

.fadingImage:hover .bear:hover {
  opacity: 1;
}

.fadingImage:hover .bear.original {
  opacity: 0;
}

.arrow {
  width: 5%;
  /* border: 1px solid yellow; */
  color: white;
  font-size: 32px;
  position: absolute;
  top: 40%;
  left: 20px;
}

.arrowRight {
  width: 5%;
  /* border: 1px solid yellow; */
  color: white;
  font-size: 32px;
  position: absolute;
  top: 40%;
  right: 20px;
  text-align: right;
}

.navigation {
  /* border: 1px solid rgb(242, 242, 207); */
  width: 20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 3%;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 6px;
  }
  img {
    display: inline-block;
    margin-right: 6px;
    filter: invert(93%) sepia(11%) saturate(355%) hue-rotate(22deg)
      brightness(95%) contrast(89%);
    svg {
      fill: rgb(242, 242, 207);
    }
  }
  span {
    display: inline-block;
    /* font-family: "Nunito Sans", serif; */
    font-family: "Times New Roman", serif;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(242, 242, 207);
    cursor: pointer;
  }
}
.home,
.back {
  opacity: 0;
  transition: opacity 1s;
}
.links:hover {
  .home,
  .back {
    opacity: 1;
    font-style: italic;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.medusaRotate:hover {
  animation: rotate 6s linear infinite;
}

@keyframes rotateReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.medusaRotateReverse:hover {
  animation: rotateReverse 3s linear infinite;
}
