html {
  font-size: 62.5;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("assets/cover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border: 1px solid green; */
}

.logo-name {
  position: fixed;
  bottom: 10%;
  right: 0%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  color: rgb(183, 191, 196);
  font-weight: 600;
  /* border: 1px solid red; */
}

.logo-name p {
  font-family: "Roboto Serif", serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: left;
  color: rgb(183, 191, 196);
  margin: 0;
  margin-bottom: 1rem;
  /* border: 1px solid white; */
}

.name {
  font-family: "Nunito Sans", serif;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  text-align: left;
  /* border: 1px solid yellow; */
}

/* .fullStack {
  font-family: "Nunito Sans", serif;
  text-align: center;
  font-size: 2.5rem;
  color: black;
} */

/* .stack {
  text-align: center;
  color: rgba(99, 97, 94, 1);
  margin-bottom: 3%;
} */

.links {
  width: 40vw;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  font-family: "Roboto Serif", serif;
  font-size: 1.2rem;
  padding: 0;
  /* border: 1px solid green; */
  a {
    text-decoration: none;
    color: rgb(183, 191, 196);
    line-height: 1.6rem;
  }
}

.links a:hover {
  font-style: italic;
}

.stackList {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  display: inline-block;
  padding-top: 5px;
}

a:hover {
  text-shadow: 3px 3px grey;
  font-style: italic;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  width: 82%;
  margin: 20px auto;
}

.aboutSection {
  width: 98vw;
  height: 95vh;
  padding-left: 2vw;
  margin: 0;
  border: 1px solid transparent;
  background: white;
}

.aboutSection h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 15px;
}

.aboutSectionContent {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.aboutSection img {
  display: block;
  width: 30%;
  border: 1px transparent solid;
  border-radius: 50%;
}

.aboutSection p {
  width: 60%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
}

.aboutSection i {
  display: inline-block;
  margin-top: 15px;
}

.arrow {
  width: 80vw;
  height: 100px;
  margin: 0 auto;
  text-align: right;
}
.workSection i {
  display: inline-block;
}

.contactSection {
  width: 60vw;
  padding-left: 0;
  padding-top: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.contactSectionIcons {
  width: 30vw;
  text-align: right;
}

.contactSection i {
  width: 5vw;
}

@media all and (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
  }

  .landing-page {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
  }

  .logo-name {
    margin: 0 auto;
    display: block;
    margin-top: 30%;
    justify-content: center;
    text-align: center;
  }

  .name {
    font-size: 2rem;
    display: block;
    width: 90vw;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .fullStack {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 15%;
    margin-bottom: 25%;
  }

  .links {
    width: 80vw;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    text-shadow: 5px 5px yellow;
  }

  h2 {
    font-size: 1.8rem;
    width: 82%;
    margin: 0 auto;
  }

  .stackList {
    font-size: 1.4rem;
    margin-bottom: 20%;
  }

  .aboutSection {
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  .aboutSectionContent {
    width: 95%;
    display: block;
    margin: 0 auto;
  }

  .aboutSection img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .aboutSection p {
    width: 80%;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 30px;
  }

  .aboutSection i {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    float: right;
  }

  .workSection {
    width: 98vw;
    padding: 0;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .workSection h3 {
    font-size: 1.6rem;
    text-align: center;
  }

  .workSection p {
    text-align: center;
    font-size: 1.2rem;
  }

  .workSectionContent {
    margin: 0 auto;
    width: 80vw;
    display: block;
  }

  .workSectionContent img {
    width: 100%;
  }

  .workSectionContent .LeonSays,
  .workSectionContent .sketch1,
  .workSectionContent .mupalavra,
  .workSectionContent .yesOrNo,
  .workSectionContent .NASA,
  .workSectionContent .tiaBiscoiteira,
  .workSection .fissura {
    width: 90%;
  }

  .arrow {
    width: 80vw;
    height: 100px;
    text-align: left;
  }
  .workSection i {
    display: inline-block;
    float: right;
  }

  .contactSection {
    width: 80vw;
    padding-left: 0;
    padding-top: 15px;
    border-top: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contactSection h2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .contactSectionIcons {
    width: 100%;
    text-align: left;
  }

  .contactSection i {
    width: 15vw;
  }
}

@media all and (min-width: 401px) and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .landing-page {
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
  }

  .logo-name {
    margin: 15% auto;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .name {
    font-size: 3rem;
    display: block;
    width: 80vw;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .fullStack {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .links {
    width: 80vw;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    text-shadow: 5px 5px yellow;
  }

  h2 {
    font-size: 2rem;
    width: 82%;
    margin: 0 auto;
  }

  .stackList {
    font-size: 1.6rem;
  }

  .aboutSection {
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  .aboutSectionContent {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .aboutSection img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .aboutSection p {
    width: 80%;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 30px;
  }

  .aboutSection i {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    float: right;
  }

  .workSection {
    width: 98vw;
    padding: 0;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .workSection h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .workSection p {
    text-align: center;
    font-size: 1.5rem;
  }

  .workSectionContent {
    margin: 0 auto;
    width: 80vw;
    display: block;
  }

  .workSectionContent img {
    width: 100%;
  }

  .workSectionContent .LeonSays,
  .workSectionContent .sketch1,
  .workSectionContent .mupalavra,
  .workSectionContent .yesOrNo,
  .workSectionContent .NASA,
  .workSectionContent .tiaBiscoiteira,
  .workSection .fissura {
    width: 90%;
  }

  .arrow {
    width: 80vw;
    height: 100px;
    text-align: left;
  }
  .workSection i {
    display: inline-block;
    float: right;
  }

  .contactSection {
    width: 80vw;
    padding-left: 0;
    padding-top: 15px;
    border-top: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contactSection h2 {
    width: 100%;
    margin-bottom: 30px;
  }

  .contactSectionIcons {
    width: 100%;
    text-align: left;
  }

  .contactSection i {
    width: 15vw;
  }
}

@media all and (min-width: 601px) and (max-width: 900px) {
  .logo-name {
    margin: 15% auto;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .name {
    font-size: 3.2rem;
    display: block;
    width: 80vw;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .links {
    text-shadow: 5px 5px yellow;
  }

  .aboutSection {
    height: 160vh;
    padding: 0;
    margin: 0 auto;
  }

  .aboutSectionContent {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .aboutSection img {
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  .aboutSection p {
    width: 80%;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 30px;
  }

  .aboutSection i {
    display: inline-block;
    margin-top: 15px;
    float: right;
  }

  .workSection {
    width: 98vw;
    padding: 0;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .workSection h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .workSection p {
    text-align: center;
    font-size: 1.5rem;
  }

  .workSectionContent {
    margin: 0 auto;
    width: 80vw;
    display: block;
  }

  .workSectionContent img {
    width: 100%;
  }

  .workSectionContent .LeonSays,
  .workSectionContent .sketch1,
  .workSectionContent .mupalavra,
  .workSectionContent .yesOrNo,
  .workSectionContent .NASA,
  .workSectionContent .tiaBiscoiteira,
  .workSection .fissura {
    width: 80%;
    margin: 0 auto;
  }

  .arrow {
    width: 80vw;
    height: 100px;
    text-align: left;
  }
  .workSection i {
    display: inline-block;
    float: right;
  }
}
