html {
  font-size: 62.5;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContent {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.navigation {
  border: 1px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 6px;
  }
  img {
    display: inline-block;
    margin-right: 6px;
    border: 1px solid red;
  }
  span {
    display: inline-block;
    font-family: "Nunito Sans", serif;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.bearImage {
  /* border: 2px solid blue; */
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    margin: 0;
    padding: 0;
    height: 500px;
    width: auto;
  }
}

.text {
  width: 45%;
  /* border: 1px solid green; */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.caption {
  /* border: 1px solid orange; */
  margin-left: 12px;
  font-family: "Nunito Sans", serif;
  p {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 0.9rem;
    .title {
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.medusaRotate {
  /* border: 1px solid orange; */
  width: 50px;
  height: auto;
  /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
    brightness(119%) contrast(119%); */
}
